* {
    border: none;
    /* border-radius: 0 0 10 10;
     `otf-font-awesome` is required to be installed for icons */
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background-color: rgba(10, 20, 15, 0.6);
    border-radius: 0 0 10 10;
    border-bottom: none;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .1s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    border-radius: 10 10 10 10;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: #668888;
    box-shadow: inherit;
}

#workspaces button.focused {
    /*background-color: #53616c;*/
    background-color: #00802b;

}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 4px;
    color: #ffffff;
	background-color: transparent;
}

#pulseaudio.muted {
    color: #cc3436;
}
#clock {
	font-weight: bold;
}


#temperature.critical {
    color: #cc3436;
}
/*
@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#backlight {
    background-color: #90b1b1;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#tray {
    background-color: #2980b9;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}
*/
